<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class="container2">
    <img src=Assets/images/me.jpeg width="400px" class="center" />
    <p>Hello! My name is Vivian Dang and I am currently a second year Health Informatics Co-op student at Centennial College.
        <br><br>In 2020, I graduated from the University of Toronto for Life Sciences. 
        Shortly after the pandemic began, I started to independently learn some coding and computer science. 
        I then discovered that true passion for software engineering and decided to enroll into school for it. 
        I am motivated to start a new future in computer science!
        <br><br>Starting from my independent Python studies to more highly coded languages like C#, I am excited to share my projects and pursue a career in Software Engineering and Informatics.
        <br><br>For more information on my background, my resume can be found <a href="Assets/images/resume.pdf" target="_blank">here</a>. </p>
</div>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>