<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<!-- Header template for different pages.   Container class makes not at the very edge -->
    <div class="container2">
      <p>Welcome to my COMP229 Project. My name is Vivian, and I am currently a second year Health Informatics student at Centennial College: School of Engineering and Technology!<br><br>
        
        This website was created in order to keep track of my projects (ongoing and completed), mark my acquired software skills, and allow any potential employers to get in contact with me.
        
        <br><br>If you would like to learn more about me, feel free to navigate through this website with the nav bar, or you can get started with the following hyperlinks:
        <br><br><a href="/about">ABOUT ME</a>  |  <a href="/projects">PROJECTS</a>  |  <a href="/services">SERVICES</a>  |  <a href="/contact">CONTACT</a>
        
      </p>
    </div>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>