<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class="container2">
    <p>For more project information (including projects not included on this webpage) you can check out my <a href="https://github.com/V-Dang " target="_blank">github</a> account!</p>

    <h2>Project 1: Weather API</h2>
    <p><img src="Assets/images/project1.png" width="750px" class="center">
    <br><i><b>Status: Complete</b></i>
    <br>This project combined the use of a weatherAPI and javascript querying to obtain the weather conditions for a specified city.
    In combination with CSS and HTML, this page was created. Functionality of this code will be implemented into this webpage at a later time.
    </p><br><br>

    <h2>Project 2: BMR Calculator With Imperial or Metric Units</h2>
    <p><img src="Assets/images/project2.png" width="750px" class="center">
    <br><i><b>Status: Complete</b></i>
    <br>This project used javascript code and user input to create a calculator for the user's BMR.
    In combination with CSS and HTML, this page was created. Functionality of this code will be implemented into this webpage at a later time.
    </p><br><br>

    <h2>Project 3: SRS Document</h2>
    <p><img src="Assets/images/project3.png" width="750px" class="center">
    <br><i><b>Status: Ongoing</b></i>
    <br>This project illustrates detailed directions and diagrams used for an imaginary application <i>'The Home Studio'</i>. Functionality of this document will be implemented later.
    </p>

</div>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>