<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<div class="container2">
    <p>This page will be updated as I continue to learn and improve my skills and services. Some services include:
        <br>- Programming
        <br>- Web Development
        <br>- Project Management With Agile
        <br>- Data Analysis
    </p>
    <p>A list of some of my skills:
        <img src="Assets/images/pythonlogo.png" width="300px" title="Python" class="center"/>
        <img src="Assets/images/csharp.png" width="300px" title="C#" class="center"/>
        <img src="Assets/images/java.png" width="300px" title="Java" class="center"/>
        <img src="Assets/images/github.png" width="300px" title="GitHub" class="center"/>
        <img src="Assets/images/sas.png" width="300px" title="SAS Analytics" class="center"/>
        <img src="Assets/images/visualparadigm.jpeg" width="300px" title="Visual Paradigm" class="center"/>
    </p>
</div>


<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>